.stepWizard {
  @apply bg-primary-pressed bg-opacity-5 flex;
}

.stepWizard-line {
  @apply absolute top-5;
  height: 1px;
}

.stepWizard-line--dashed {
  background-image: linear-gradient(
    to right,
    #9FA3AD 50%,
    white 50%
  );
  background-position: top;
  background-size: 10px 1px;
  background-repeat: repeat-x;
}
