.breadcrumb {
  @apply pb-1;
}

.breadcrumb > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
}

.breadcrumb > ul > li {
  display: list-item;
  text-align: -webkit-match-parent;
  padding: 2px 0px;
}

.breadcrumb > ul > li > a {
  padding-right: 28px;
}

.breadcrumb > ul > li > a,
.breadcrumb > ul > li > span {
  position: relative;
  display: block;
}

.breadcrumb > ul > li:last-child {
  padding-right: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex: 1;
}

.breadcrumb-container > ul > li:last-child > a,
.breadcrumb-container > ul > li:last-child > span {
  display: initial;
}
